*{
    margin: 0;
    padding: 0;
}    
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0;
    height: 92px;
}
.navlogo{
    padding-left: 120px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 0px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin: 34px 0px;
}
nav ul li{
    list-style: none;
} 
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}
nav button{
    height: 44px;
    width: 164px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 120px;
    margin-left: 0px;
    border: none;
    padding: 12.5px 16px;
    background-color: #469165;
    color: white;
    font-size: 16px;
    font-weight:600;
    border-radius: 4px;
    opacity: 0.8;
}
nav button:hover{
    opacity: 1;
}
