*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0;
    height: 92px;
}
.navlogo{
    padding-left: 120px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 0px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin: 34px 0px;
}
nav ul li{
    list-style: none;
} 
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}
nav button{
    height: 44px;
    width: 164px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 120px;
    margin-left: 0px;
    border: none;
    padding: 12.5px 16px;
    background-color: #469165;
    color: white;
    font-size: 16px;
    font-weight:600;
    border-radius: 4px;
    opacity: 0.8;
}
nav button:hover{
    opacity: 1;
}


.hero-container{

    margin: 0;
    background-image: url(assets/hero-bg.png);
    height: 600px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;

    padding: 0;
}
.tab{
    display: flex;
    gap: 6px;
    padding: 8px 12px;
    background-color: white;
    color: #469165;
    border-radius: 1000px;
    margin-top: 115.5px;
    align-items: center;
}
.tabtext{
    font-size: 16px;
    font-weight: 500;
    margin: 8px auto;
}
.hero-container div h1{
    text-align: center;
    font-size:70px;
    font-weight: 800;
    text-align: center;
    margin: 16px;
}
.hero-container div p{
    text-align: center;
    color: white;
    font-size: 18px;
    line-height: 24px;
}
.hero-button-container{
    display: flex;
    gap: 16px;
    margin-top: 32px;
}
.b1{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    background-color: #469165;
    color: white;
    padding: 16px;
    border: none;
    border-radius: 4px;
}
.b1 .textb1{
    font-size: 16px;
    font-weight: 600;
}
.b1:hover{
    background-color: transparent;
    border: 1px solid white;
}
.b2{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    background-color: transparent;
    color: white;
    padding: 16px;
    border: 1px solid white;
    border-radius: 4px;
}
.b2 .textb2{
    font-size: 16px;
    font-weight: 600;
}
.b2:hover{
    background-color: #469165;
    border: none;
}

